# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.sqlite
*.db

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/
.venv/
env/
lib/
bin/

# Microsoft Excel temp files
~$*.xlsx
~$*.xls

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# System files
Thumbs.db
desktop.ini
